
body::before{
    display: block;
    content:' ';
    height: 60px;

}


@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

.gallery img{
    max-width: 100%;
}

.gallery {
    padding: 80px 0px;
}